# Keep only these required variables
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=API_KEY"
SECRET_KEY="generate-a-secret-key with 'node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" ' "
API_KEY="your-api-key"
